# Arduino / ESP32
*.bin
*.elf
*.map
*.hex
*.zip

# Mosquitto (Windows broker runtime)
broker/windows/passwordfile
broker/windows/data/mosquitto.db
broker/windows/log/mosquitto.log

# IDE
.vscode/
.idea/

# PlatformIO
.pio/

# Android
android/.gradle/
android/**/build/
android/local.properties
android/.cxx/
android/.externalNativeBuild/
android/_tmp_gradle/

# OS
.DS_Store
Thumbs.db
